body {
	padding-top: 50px;    /* Padding for .navbar-fixed-top. Change value if navbar height changes. Remove if using .navbar-static-top. */
	color: #959595;
	}
	
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	color: #dd845a;
	}
	
.feature {
	background: url('../images/light_bulb.jpg');
	background-position: top right;
	background-size: cover;
	background-color: #dd845a;
	color: white;
	text-shadow: 1px 1px 8px black;
	}

.feature .btn {
	text-shadow: none;
	}
	
.promo, .footer-map {
	border-width: 1px;
	border-color: black;
	border-top-style: solid;
	border-bottom-style: solid;
	margin-top: 20px;
	margin-bottom: 20px;
	}

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
	/*text-shadow: 1px 1px 8px black;*/
    text-decoration: none;
}

.promo-item {
    height: 200px;
    line-height: 180px;
    text-align: center;
}

.promo-item:hover {
    background-size: 110%; 
    border: 5px solid black;
    line-height: 170px;
}

.promo-item h3 {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}

.item-1 {
	background: url('../images/maddie.jpg');
	}
	
.item-2 {
	background: url('../images/xxx.jpg');
	}
	
.item-3 {
	background: url('../images/aayah.jpg');
	}
	
.item-4 {
	background: url('../images/angelica.png');
	}
	
.item-5 {
	background: url('../images/xxx.png');
	}
	
.item-6 {
	background: url('../images/aru.png');
	}
.item-7 {
	background: url('../images/sam.png');
	}
.item-8 {
	background: url('../images/xxx.png');
	}
.item-9 {
	background: url('../images/abbyl.png');
	}
.item-10 {
	background: url('../images/molly.png');
	}
.item-11 {
	background: url('../images/aayah2.png');
	}
.item-12 {
	background: url('../images/xxx.png');
	}
.item-13 {
	background: url('../images/olivia.png');
	}
.item-14 {
	background: url('../images/aimee.png');
	}
.item-15 {
	background: url('../images/brianna.png');
	}
.item-16 {
	background: url('../images/lauren.png');
	}
.item-17 {
	background: url('../images/aru2.png');
	}
.item-18 {
	background: url('../images/hannah.jpg');
	}
.item-19 {
	background: url('../images/radelle.png');
	}
.item-20 {
	background: url('../images/abbyg.png');
	}
.item-21 {
	background: url('../images/xxx.png');
	}
.item-22 {
	background: url('../images/xxx.png');
	}
.item-23 {
	background: url('../images/abbyg2.png');
	}
.item-24 {
	background: url('../images/xxx.jpg');
	}
.item-25 {
	background: url('../images/xxx.png');
	}
.item-26 {
	background: url('../images/alex.png');
	}
.item-27 {
	background: url('../images/xxx.png');
	}
.item-28 {
	background: url('../images/xxx.png');
	}
.item-29 {
	background: url('../images/xxx.jpg');
	}
.item-30 {
	background: url('../images/xxx.png');
	}
.item-31 {
	background: url('../images/xxx.png');
	}
.item-32 {
	background: url('../images/xxx.png');
	}
.item-33 {
	background: url('../images/crystalline.jpg');
	}
.item-34 {
	background: url('../images/xxx.jpg');
	}
.item-35 {
	background: url('../images/xxx.jpg');
	}
.item-36 {
	background: url('../images/xxx.jpg');
	}
		
.item-37 {
	background: url('../images/xxx.png');
	}
.item-38 {
	background: url('../images/kim.png');
	}
.item-39 {
	background: url('../images/krystelle.png');
	}
.item-40 {
	background: url('../images/xxx.png');
	}
.item-41 {
	background: url('../images/xxx.jpg');
	}				
.item-42 {
	background: url('../images/xxx.png');
	}
.item-43 {
	background: url('../images/hannahsite.jpg');
	}
.item-44 {
	background: url('../images/xxx.png');
	}
.item-45 {
	background: url('../images/arusite2.png');
	}
.item-46 {
	background: url('../images/xxx.jpg');
	}				
.item-47 {
	background: url('../images/xxx.jpg');
	}
.item-48 {
	background: url('../images/glasses.jpg');
	}
.item-purple {
	background: url('../images/purple.jpg');
	}
.item-darkblue {
	background: url('../images/darkblue.jpg');
	}
.item-green{
	background: url('../images/green.jpg');
	}
.item-lime{
	background: url('../images/lime.jpg');
	}
.item-blue{
	background: url('../images/blue.jpg');
	}



.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6,
.item-7,
.item-8,
.item-9,
.item-10,
.item-11, 
.item-12,
.item-13,
.item-14, 
.item-15,
.item-16,
.item-17,
.item-18,
.item-19,
.item-20,
.item-21,
.item-22,
.item-23,
.item-24,
.item-25,
.item-26,
.item-27,
.item-28,
.item-29,
.item-30,
.item-31,
.item-32,
.item-33,
.item-34,
.item-35,
.item-36,
.item-37,
.item-38,
.item-39,
.item-40,
.item-41,
.item-42,
.item-43,
.item-44,
.item-45,
.item-46,
.item-47,
.item-48,
.item-purple,
.item-green,
.item-darkblue,
.item-lime,
.item-blue,
{
	background-size: cover;
	background-position: 50% 50%;
	}



.footer-info {
    padding: 20px 0;
    background: #f7f7f7;
}

.footer-info,
.footer-info a:link,
.footer-info a:hover,
.footer-info a:focus,
.footer-info a:visited {
    color: #959595;
	}

.footer-info h3 {
	color: black;
	font-size: 18px;
	}
    
.footer-info-item {
    padding: 0px 20px;
    }
    
footer .small-print {
	background-color: #fff;
	padding: 30px 0;
	text-align: center;
}


/*
*************************** 
Override Bootstrap Classes 
***************************
*/

/* Links */
a {
  color: orange;
  text-decoration: none;
}
a:hover,
a:focus {
  color: darkorange;
  text-decoration: underline;
}

/* Navbar */
.navbar-default {
  background-color: #fff;
}
.navbar-default .navbar-brand {
  color: #dd845a;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: sienna;
  background-color: transparent;
}

/* Primary Buttons */
.btn-primary {
  color: #fff;
  background-color: orange;
  border-color: orange;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:hover {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: sandybrown;
  border-color: sandybrown;
}